body{

    margin: 0%;
  
   
}

header{
background-color: rgba(168, 124, 189, 0.589);
    height: 15vh;
    font-family: Snell Roundhand, cursive;
background-image: url(img/uvapapel.jpg);
color: rgb(255, 255, 255);
display: flex;
justify-content: center;




}




nav{
   height: 5vh; 
background-color: rgba(90, 8, 129, 0.584);
display: flex;
justify-content: center;
align-items:center;


}

nav a{
    margin: 5px;
    background-color: rgba(78, 190, 164, 0.897);
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 2px 10px;
    font-family: Snell Roundhand, cursive;

       
}
nav a:hover{
    background-color: #10f31b;
    color: rgb(0, 0, 0);
    


}
main{
min-height: 75vh;
background-color: rgba(192, 117, 241, 0.484);
display: flex;
flex-direction: row;
}

.container{
    display: flex;
justify-content: center;
flex-flow: column;
margin: auto;
 
}
 .reto{

    display: flex;
    justify-content: center;
    flex-flow: column;
    margin: auto;
 }

 .torto{

    display: flex;
    justify-content: center;
    flex-flow: column;
    margin: auto;
 }

 .inclinado{
 display: flex;
    justify-content: center;
    flex-flow: column;
    margin: auto;

 }

footer{
height: 5vh;
background-color: rgba(90, 8, 129, 0.584);
display: flex;
justify-content: center;
}
footer p{

    font-family:  Snell Roundhand, cursive;
color: white;

}



figcaption{
    background-color: rgba(183, 131, 247, 0.144);
    padding: 2px 8px;
    width: 2
    

    

}

figcaption a{
text-decoration: none;
    font-family: Snell Roundhand, cursive;
    color: black;
}

figcaption a:hover{

    background-color: #28aa2fb4;
    color: rgb(0, 0, 0);
    



}

figure {
    flex-direction: column;
    display: flex;
    width: 25%;
    

    
}
figure:hover{
    transform: scale(1.1);
transition: 0.5s;

}
.container figure img{
    width: 235px;
    height: 250px;
    margin: 0% auto;
    border-radius: 10%;
    border: inset rgba(128, 0, 128, 0.616);
    
        }
        .container figcaption {
         display: flex;
         justify-content: center;  
        
            width: 220px;
          
        }
    
    
        .inclinado figure img{
    
            width: 235px;
            height: 250px;
            border-radius: 10%;
            border: inset purple;
    
        }
        .inclinado figcaption{
            border-radius: 3%;
            width: 220px;
            display: flex;
            justify-content: center;
        }
    
    
        .reto figure img{
    
            width: 235px;
            height: 250px;
            border-radius: 10%;
            border: inset purple;
        }
        .reto figcaption{
    
            width: 220px;
            border-radius: 3%;
            display: flex;
            justify-content: center;
        }
        
    
        .torto figure img{
    width: 290px;
    height: 300px;
    border-radius: 10%;
    border: inset purple;
    
    
        }
    
    
        .torto figcaption{
            border-radius: 3%;
            width: 270px;
            display: flex;
            justify-content: center;
        }
        
    
      

    
    @media screen and (max-width:430px){
        main{
min-height: 75vh;
background-color:  rgba(192, 117, 241, 0.484);
display:flex;
flex-direction: column;
        }

        figcaption a{

            text-decoration: none;
            color: black;
        }


        .container figure img{
width: 250px;

        }
        .container figcaption{
width: 220px;
font-size: large;

        }

        .reto figure img{
width: 250px;

        }
        .reto figcaption{
width: 220px;
font-size: larger;

        }

        .inclinado figure img{

            width: 250px;
        }

        .inclinado figcaption{

            width: 220px;
                font-size: larger;

        }

        .torto figure  img{

width:250px;
height: 250px;


        }
        .torto figcaption{
width: 220px;
font-size: large;

        }

    }

   