body{
    
    margin:0%;
background-color:rgba(191, 117, 241, 0.644) ;}

    header{
        background-color: rgba(168, 124, 189, 0.589);
            height: 15vh;
            font-family: Snell Roundhand, cursive;
        background-image: url(img/uvapapel.jpg);
        color: rgb(255, 255, 255);
       text-align: center;
       
    }

    h1{
        margin: 0;
    }

    nav{
        height: 5vh; 
     background-color: rgba(90, 8, 129, 0.584);
     display: flex;
     justify-content: center;
     align-items:center;
     padding: 2px 20px;}

     nav a{
        margin: 5px;
        background-color: rgb(78, 190, 164);
        text-decoration: none;
        color: rgb(0, 0, 0);
        padding: 2px 10px;
        font-family: Snell Roundhand, cursive;
    
           
    }
    nav a:hover{
        background-color: #10f31b;
        color: rgb(0, 0, 0);
        
    
    
    }

    main{
       min-height: 75vh;
        background-color: rgba(205, 171, 228, 0.534);
        display: flex;
        justify-content: center;
        align-items: center;
        
        }
       th{


        background-color:rgba(168, 124, 189, 0.589) ;
        color: black;
        font-family: Snell Roundhand, cursive;
        font-size:large ;
       }
       tbody{

        background-color: rgba(168, 124, 189, 0.589);
        font-family: Snell Roundhand, cursive;
        font-size: large;

       }
       footer{
        height: 5vh;
        background-color: rgba(90, 8, 129, 0.584);
        display: flex;
        justify-content: center;}
        footer p{
            margin: 5px;
   
            text-decoration: none;
            color: rgb(255, 255, 255);
            padding: 2px 20px;
            font-family: Snell Roundhand, cursive;
            display: flex;
        justify-content: center;
        align-items: center;
        

        }

